# Ignore compiled binaries
*.exe
*.o

# Ignore log files
*.log

# Ignore directories
dist/
intermediate/
.vs/
obj/
packages/
src/core/ipc/client_secret.hpp
millennium.installer/node_modules/
millennium.installer/build/
millennium.installer/dist/
millennium.installer/dist-electron/

# Ignore IDE config
.vscode
.intermediate