/build
/.idea
/.vs
/out
/vendor/python/python311.dll
/vendor/python/python311.lib
/vendor/python/python311_d.lib
/vendor/python/python311_d.dll

# Ignore plugin example build assets
/examples/plugin/.millennium

/assets/src/env.ts

/.direnv
/result
/sdk/result
**/.DS_Store
