{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    {
        "path": "@semantic-release/github",
        "assets": ["D:/a/env"]
    },
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "echo \"# current version of millennium\n${nextRelease.version}\" > version.txt; powershell.exe -File ./scripts/build.ps1"
      }
    ]
  ]
}