{
  "branches": [
    "main",
    {
      "name": "next",
      "prerelease": "beta"
    },
    {
      "name": "staging",
      "prerelease": "alpha"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      [
        "@semantic-release/exec",
        {
          "verifyReleaseCmd": "echo \"version=${nextRelease.version}\" >> \"$GITHUB_OUTPUT\""
        }
      ]
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "docs/CHANGELOG.md",
          "version"
        ]
      }
    ],
    {
      "path": "@semantic-release/github",
      "assets": [
        "./artifacts/release/millennium*"
      ]
    }
  ]
}
