{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["docs/CHANGELOG.md"]
      }
    ],
    {
        "path": "@semantic-release/github",
        "assets": ["./artifacts/release/*.zip"]
    },
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "echo \"# current version of millennium\n${nextRelease.version}\" > version.txt; powershell.exe -File ./scripts/build.ps1"
      }
    ]
  ]
}