:root { 

/* chose your skin color */
--minimal_dark_color: #7c54f0;
/* default color is blue (#1a9fff) ; to apply your color, use https://htmlcolorcodes.com or use my recommended colors : Orange : #f68b02; or #ffbd00; | Red : #f82d36; or #ff000b; | Green : #37eb4a; or #9bfb07; | Purple : #c354f0; or #7c54f0; Cyan : #4af1f1; or #4af1b7; */

/* global colors */
--minimal_dark_night: #141414;
--minimal_dark_night_alt: #151515;
--minimal_dark_night_alt1: #161616;
--minimal_dark_dark: #191919;
--minimal_dark_so_black: #1b1b1b;
--minimal_dark_black: #1e1e1e;
--minimal_dark_blacker: #191919; /* defaut #101010; */
--minimal_dark_blacker_alt: #121212;
--minimal_dark_topgrey: #8b929a;
--minimal_dark_greygrey: #4c4d50;
--minimal_dark_whitegrey1: #d2d2d2;
--minimal_dark_lite_grey1: #282828;
--minimal_dark_greyblack: #2e2e2f;
--minimal_dark_greyblack1: #404040;
--minimal_dark_greyblack2: #050505;
--minimal_dark_greyblack3: #23262e;
--minimal_dark_greyblack4: #333333;
--minimal_dark_invisblegrey: rgba(45, 45, 45, 0.25);
--minimal_dark_transparent: transparent;
--minimal_dark_whitegrey: #dcdcdc;
--minimal_dark_browser_overlay_close: #a0de63;
--minimal_dark_red: #ff002e;
--minimal_dark_red1: #ff0000;
--minimal_dark_red2: #f12446;
--minimal_dark_green: #008000;
--minimal_dark_darker_green: #5c7e10;
--minimal_dark_grey: #1a1a1a;
--minimal_dark_be_grey: #262626;
--minimal_dark_offline_grey: #919191;
--minimal_dark_lightgrey: #3e3e3f;
--minimal_dark_smallgrey: #454545;
--minimal_dark_fluogreen: #00ff08;
--minimal_dark_status_blue: #5db2fe;
--minimal_dark_status_light_blue: #c4e4f2;
--minimal_dark_status_orange: #ffa444;
--minimal_dark_status_green: #06e39d;
--minimal_dark_white: #ffffff;
--minimal_dark_more_less_white: #d9dadd;
--minimal_dark_blue: #addbff;
--minimal_dark_dark_blue: #093249;
--minimal_dark_light_blue: #a4d7f5;
--minimal_dark_light_yellow: #f9e8a1;
--minimal_dark_lime: #d0ff15;
--minimal_dark_light_purple: #d9d3ff;
--minimal_dark_purple: #ae3cfc;
--minimal_dark_less_white: #dcdcdc;

/* global configuration */
--minimal_dark_fontdown: lowercase;
--minimal_dark_fontup: uppercase;
--minimal_dark_blur: blur(20px);

/* svg replacement : https://thenounproject.com/ */
--minimal_dark_game: url("./resources/game.svg");
--minimal_dark_contact: url("./resources/contact.svg");
--minimal_dark_help: url("./resources/help.svg");
--minimal_dark_home: url("./resources/home.svg");
--minimal_dark_download: url("./resources/download.svg");
--minimal_dark_display: url("./resources/display.svg");

--minimal_dark_minbutton: url("./resources/minbutton.svg");
--minimal_dark_maxbutton: url("./resources/maxbutton.svg");
--minimal_dark_closebutton: url("./resources/closebutton.svg");
--minimal_dark_restorebutton: url("./resources/restorebutton.svg");
--minimal_dark_logo: url("./resources/logo.png");
--minimal_dark_logo_hover: url("./resources/logo_hover.png");
--minimal_dark_logo_active: url("./resources/logo_active.png");

/* initial configuration */
--minimal_dark_transparent: transparent;
--minimal_dark_librarysearchbox: flex;
--minimal_dark_whatsnew: block;
--minimal_dark_recent: block;
--minimal_dark_titlefont: 500;
--minimal_dark_friendingameiconposition: 0px;
--minimal_dark_flat_color: none; /* gamepage background */
--minimal_dark_blur: blur(25px); /* none | 0-100px */
--minimal_dark_gamepage_bg_blur: none; /* none | flex ] */
--minimal_dark_blur_image: visible; /* none | visible ] */
--minimal_dark_image_height: 320px;
--minimal_dark_cover_hover: show; /* show | hide */
--minimal_dark_avatar_effect: none;
--minimal_dark_top_shadow: none;
--minimal_dark_game_play_header: flex;
--minimal_dark_ddplay: none;
--minimal_dark_gamelistzoomsize: 90%;

/* others */
--minimal_dark_bgsidebar_date: linear-gradient(-90deg, rgba(26,26,26,0) 0%, rgba(26,26,26,0.7469187504103203) 50%, rgba(18,18,18,1) 100%);
--minimal_dark_topbar: var(--minimal_dark_color);
--minimal_dark_sidebar_background_image: linear-gradient(to bottom, #2d333c 0%, #24282f 20%);
--minimal_dark_topbar_hover: linear-gradient(0deg, rgba(80,80,80,0) 0%, rgba(80,80,80,0.25) 100%);
--minimal_dark_context_menu_background: linear-gradient(0deg, rgba(25,25,25,1) 0%, rgba(20,20,20,1) 50%, rgba(16,16,16,1) 100%);
--minimal_dark_progress_bar: #21d083; /* progress bar color sidebar/topbar */
--minimal_dark_download_paused_sidebar: #c9ffc9; /* text color for download paused sidebar */
--minimal_dark_download_text_sidebar: #debfff; /* text color for download paused sidebar */
--minimal_dark_alignment: 110px; /* align top bar buttons according to your offset - a higher value will move the buttons to the left, and lower value to the right. /!\ several modifications of this value will probably have to be made to have an optimal alignment. */
--minimal_dark_currency: #d6d6df; /* custom color for top bar user name currency - default color #d6d6df  */
--minimal_dark_installed_games: #d6cab7; /* installed games color - modify this value to change the color. Type 'none;' for same color for all games */
  
/* global corners */
--minimal_dark_corner0: 0px  !important;
--minimal_dark_corner5: 5px  !important;
--minimal_dark_corner10: 10px  !important;
  
}