.libraryhomeshowcases_ShowcaseHeader_23Snl {
    box-sizing: border-box;
    display: flex;
    color: var(--minimal_dark_color);
    font-size: 13px;
    margin-bottom: 5px;
    padding-left: 8px;
    border: 1px solid transparent;
    position: relative;
}

[class*="libraryhomeshowcases_CollectionDropDown_"] ._DialogInputContainer .DialogDropDown_Arrow svg {
    fill: var(--minimal_dark_white) !important;
}

[class*="pageablecontainer_PageClickContainer_"] [class*="pageablecontainer_PageLeft_"] svg polyline, [class*="pageablecontainer_PageClickContainer_"] [class*="pageablecontainer_PageRight_"] svg polyline {
    stroke: var(--minimal_dark_white);
}

[class*="libraryhome_UpdatesContainer_"] {
    background: var(--minimal_dark_blacker_alt) !important;
    padding-top: 15px !important;
    padding-bottom: 275px !important;
}

[class*="libraryhome_UpdatesContainer_"] {
    display: var(--minimal_dark_whatsnew) !important;
}

.libraryhome_InnerContainer_2AUVZ {
    overflow-y: auto;
    overflow-x: hidden;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    color: var(--minimal_dark_color);
}

[class*="libraryhomeshowcases_Showcase_"] {
    display: var(--minimal_dark_recent) !important;
}

[class*="appportrait_RecentGameFooter_"] {
    border-radius: 0px 0px 5px 5px !important;
}

[class*="index_Container_"][class*="index_PreloadThrobber_"] {
    background: var(--minimal_dark_blacker_alt) !important;
}

[class*="libraryhome_LibraryHome_"] {
    background-image: none !important;
}

[class*="appportraithover_DownloadStatus_"] {
    background-color: var(--minimal_dark_transparent) !important;
}

[class*="libraryhomeshowcases_AddShowcaseRow_"] [class*="libraryhomeshowcases_Rule_"] {
    display: none !important;
}

[class*="libraryhomeshowcases_AddShowcaseRow_"] [class*="libraryhomeshowcases_AddShowcase_"] {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

[class*="appportrait_UninstalledBar_"] [class*="appportrait_UninstalledProgressBar_"] {
    background-color: #21d083 !important;
	height: 4px !important;
	border-radius:10px !important;
}

[class*="appportrait_UninstalledBar_"][class*="appportrait_BarDownloading_"] {
    background-color: var(--minimal_dark_invisblegrey) !important;
}

[class*="appportrait_LibraryItemBoxShine_"] {
    transition-property: transform, opacity !important;
    transition-duration: 0.6s !important;
    display: var(--minimal_dark_cover_hover) !important;
}

[class*="appportrait_LibraryItemBoxShine_"] {
	display:none;
}

.appportrait_LibraryItemBoxShine_MyNb5 {
    opacity: .1;
    cursor: pointer;
    width: 220%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(235, 245, 255, 0) 0%, rgba(235, 245, 255, 0.85) 12px, rgba(235, 245, 255, 0.75) 20%, rgba(210, 210, 210, 0) 60%, rgba(10, 10, 10, 0) 85%, rgba(10, 10, 10, 0.8) 100%);
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transform: rotateZ(212deg) translateX(12%) translateY(75%);
    z-index: 10;
    transition-property: transform,opacity;
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
}

[class*="appgrid_AppGridSectionHeader_"] [class*="appgrid_Rule_"] {
    display: none !important;
}

[class*="appgrid_AppGridSectionHeader_"]::after {
    display: none !important;
}

[class*="appgrid_SortingDropDownContainer_"] > div {
    background: var(--grey) !important;
    border: 0 !important;
}

[class*="tooltip_TextToolTip_"] { 
    background-color: var(--minimal_dark_night_alt) !important;
}

.DialogDropDownMenu._DialogInputContainer {
    background: var(--grey) !important;
    border: 0 !important;
    margin-top: 4px !important
}

[class*="appportraithover_ScreenshotCrossfade_"] {
    width: 95% !important;
    background: var(--minimal_dark_transparent) !important;
    -webkit-mask-image: none !important;
}

[class*="appportraithover_AppPortraitHover_"] {
    background: var(--minimal_dark_blacker_alt) !important;
}

[class*="appportraithover_CapsuleBackgroundContainer_"] {
    border-radius: 10px 10px 10px 10px !important;
}

[class*="appportraithover_FriendsContainer_"] {
    background-color: var(--minimal_dark_transparent) !important;
}

[class*="appportraithover_ScreenshotImg_"] {
    border-radius: 0px !important;
}

.DialogDropDownMenu._DialogInputContainer {
    background: var(--grey) !important;
    border: 0 !important;
    margin-top: 4px !important;
}

[class*="appportrait_LibraryItemBox_"] {
    border-top: 0 !important;
	border-radius: 10px 10px 10px 10px !important;
}

[class*="smartscrollcontainer_ScrollToTopButton_"] div {
    background: var(--minimal_dark_invisblegrey) !important;
    color: white !important;
    backdrop-filter: blur(50px) !important;
}

[class*="library_MainPanel_"] [class*="library_NewCollectionTarget_"] {
    background-color: var(--minimal_dark_night_alt) !important;
    box-shadow: none !important;
}

[class*="smartscrollcontainer_ScrollToTopButton_"] {
    bottom: 5px !important;
}

[class*="smartscrollcontainer_ScrollToTopButton_"]:hover[class*="smartscrollcontainer_Visible_"] {
    color: white !important;
    filter: none !important;
}

[class*="libraryhomenewupdates_PartnerEventRowCapsule_Container_"] [class*="libraryhomenewupdates_EventTimeSpan_"] {
    background-color: var(--minimal_dark_invisblegrey) !important;
    backdrop-filter: blur(50px) !important;
    border-radius: 16px 0px 9px 0px;
    color: var(--minimal_dark_installed_games) !important;
}

[class*="appfilterpane_Container_"] [class*="appfilterpane_FilterArea_"] [class*="appfilterpane_FilterBucket_"] [class*="appfilterpane_FilterBucketLabel_"] {
    color: var(--textcolor) !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_AdvancedSearchContainer_"] [class*="gamelistsearchbar_AdvancedSearchPaneContainer_"] [class*="gamelistsearchbar_AdvancedSearchPane_"] {
    left: 32px !important;
}

[class*="libraryhomeshowcases_ShowcaseHeader_"] [class*="libraryhomeshowcases_PostDropdownRule_"], [class*="libraryhomeshowcases_ShowcaseHeader_"] [class*="libraryhomeshowcases_Rule_"] {
    background-color: var(--minimal_dark_black) !important;
}

[class*="libraryhomeshowcases_ShowcaseHeader_"] [class*="libraryhomeshowcases_DragHandle_"] {
    stroke: var(--minimal_dark_transparent) !important;
    fill: var(--minimal_dark_offline_grey) !important;
}

[class*="libraryhome_Container_"] {
    background: var(--minimal_dark_blacker_alt) !important;
}

[class*="appportrait_FriendsBar_"] [class*="appportrait_IconsRestCount_"][class*="appportrait_Short_"] {
    border-radius: var(--Corner0) !important;
}

[class*="libraryhomeshowcases_CollectionDropDown_"] ._DialogInputContainer, [class*="pageablecontainer_HeaderPageControls_"], [class*="pageablecontainer_HeaderPageControls_"] [class*="pageablecontainer_Name_"] {
    font-weight: var(--minimal_dark_titlefont) !important;
}

[class*="appportrait_HoversEnabled_"] [class*="appportrait_LibraryItemActionButton_"][class*="appportrait_Play_"]:not([class*="appportrait_Disabled_"]):hover:after {
    border-color: white !important;
}

[class*="appportrait_LibraryItemActionButton_"][class*="appportrait_Play_"]:not([class*="appportrait_Disabled_"]) .SVGIcon_Play {
    fill: white !important;
}

[class*="libraryhomenewupdates_PartnerEventRowCapsule_Container_"] [class*="libraryhomenewupdates_PartnerEventRowCapsule_MainImageContainer_"] {
    border-radius: 0px !important;
	border-radius: 10px !important;
}

[class*="libraryhomenewupdates_GameIconAndName_"] {
    /* background-color: var(--minimal_dark_blacker_alt) !important; */
	border-radius: 10px;
}

.libraryhomenewupdates_GameIconAndName_3_xMy:hover {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--minimal_dark_color) 100%);
}

[class*="libraryhomeshowcases_CollectionDropDownContainer_"][class*="libraryhomeshowcases_CollectionDropDownContainer_"] ._DialogInputContainer {
    background: var(--minimal_dark_blacker_alt) !important;
    box-shadow: none !important;
}

[class*="appgrid_SortingDropDown_"] ._DialogInputContainer .DialogDropDown_CurrentDisplay, [class*="appgrid_SortingDropDown_"] ._DialogInputContainer .DialogDropDown_Arrow {
    background-color: var(--minimal_dark_blacker_alt) !important;
}

[class*="libraryhomeshowcases_CollectionDropDownContainer_"][class*="libraryhomeshowcases_CollectionDropDownContainer_"] [class*="libraryhomeshowcases_DropDownItems_"]:hover {
    background: var(--minimal_dark_offline_grey) !important;
}

[class*="library_TopGradient_"] {
    display: var(--minimal_dark_top_shadow) !important;
}

[class*="appportrait_LibraryItemActionButton_"][class*="appportrait_Play_"]:not( [class*="appportrait_Disabled_"] ),[class*="appportrait_FeaturedCapsule_"]
[class*="appportrait_LibraryItemActionButton_"] {
	background: var(--minimal_dark_transparent);
	border:3px solid rgba(62,64,71,0.25);
	border-radius:100% !important;
	transform:scale(0.75, 0.75) translate(0px, 3px) !important;
}

[class*="appportrait_HoversEnabled_"] [class*="appportrait_LibraryItemBox_"] [class*="appportrait_LibraryItemActionButton_"]:hover:not([class*="appportrait_Disabled_"]):not([class*="appportrait_Play_"]) {
    background-image: radial-gradient(circle, #4fd1ff, #4bcbf8, #47c5f2, #42bfeb, #3eb9e5, #3db7e5, #3cb4e5, #3cb2e5, #42b2eb, #4ab2f1, #54b2f6, #5fb1fb) !important;
}

[class*="appportrait_HoversEnabled_"] [class*="appportrait_LibraryItemActionButton_"][class*="appportrait_Play_"]:not([class*="appportrait_Disabled_"]):hover {
    background-image: radial-gradient(circle, #59d885, #55d380, #51cd7b, #4cc877, #48c372, #45c173, #43be74, #40bc75, #3fbc7b, #3fbc81, #40bc87, #42bc8c) !important;
}

[class*="appportraithover_CapsuleBackgroundContainer_"] {
	filter: blur(0px);
}

.appdetailsactivitysection_ActivityFeedContainer_3yTl3 > div {
	padding-left: 0px;
}

.appactivityday_Event_UVeN0 {
	margin-top: 3px;
}

.appactivityday_PartnerEventLargeImage_Title_3fsjz {
	font-size: 16px;
}

.appactivityday_PartnerEventMediumImage_Title_1gljE {
	font-size: 16px;
}

.appactivityday_PartnerEventMediumImage_Contents_2gv3E {
	padding: 10px;
}

.appactivityday_ImageContainer_1XpBI {
	max-width: 260px;
	min-width: 240px;
	padding: unset;
	padding: 0px 6px;
}

.appactivityday_PartnerEventLargeImage_Image_fGDsm {
	max-width: 250px;
}

.appactivityday_PartnerEventLargeImage_TextColumn_2HzKE {
	position: relative;
	padding: 8px 12px 12px 0px;
	margin-top: 0px;
	flex: 1;
	max-height: 130px;
}

.appactivityday_MediumImageContainer_ddB5G {
	width: 200px;
	height: unset;
}

.appactivityday_PartnerEventMediumImage_Image_VytJz {
	max-width: 200px;
}

.appactivityday_PartnerEventMediumImage_Title_1gljE {
	max-width: 600px;
	-webkit-line-clamp: 3 !important;
}

.appactivityday_PartnerEventMediumImage_TextColumn_3dJ4B {
	padding: 0px;
	display: flex;
}

.appactivityday_TradingCardSection_2IS7Z {
	margin-bottom: 29px;
}

.pageablecontainer_HeaderPageControls_2pAbU {
    color: var(--minimal_dark_color);
}

.libraryhomeshowcases_CollectionDropDown_1YdRd ._DialogInputContainer {
    color: var(--minimal_dark_color);
}

   
.appdetailssection_Body_5uvIN.appdetailsbroadcastsection_Body_CFp7F {
	align-content: flex-end;
}

.appdetailsbroadcastsection_BroadcastBox_9nwsC {
    width: 75%;
    height: 50%;
}

.appdetailsprimarylinkssection_LinksSection_3-V8v .appdetailsprimarylinkssection_Links_DgVQa {
	height: 35px !important;
}

.appdetailsprimarylinkssection_LinksSection_3-V8v .appdetailsprimarylinkssection_LinksSectionBody_25f0f {
	padding: 0px 10px 3px 4px !important;
}

.appdetailsprimarylinkssection_LinkInner_7k4qm {
	position: absolute;
	padding: 4px 16px 4px 0px !important;
	margin-right: 0px;
}

.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Text_2sNDj {
	color: rgba(255, 255, 255, 0.7) !important;
	font-size: 15px;
}

.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Link_1b6LY {
	padding: 3px 12px 3px 12px;
	border-radius: 5px;
}

.appdetailsprimarylinkssection_Anchor_DY4_w .appdetailsprimarylinkssection_Link_1b6LY:hover {
    background-color: rgb(82 88 95 / 25%);
    cursor: pointer;
    border-radius: 5px;
	border: 1px solid var(--minimal_dark_color);
}

.steamavatar_avatarStatus_1yIzy.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 20px;
    margin-left: 7px;
    margin-bottom: 0px;
    border-radius: 5px;
}

.appportrait_FriendsBar_3dncO.appportrait_IconsView_1WWmQ {
    z-index: 12;
    position: absolute;
    right: 0px;
    bottom: -18px;
    transition-property: top,transform;
    transition-duration: .32s;
    transition-timing-function: ease-in-out;
    margin-bottom: 21px;
}

.steamdesktop_TitleBar_39oUC .steamavatar_avatarHolder_1YGAH {
  transform: translate(-2px, 0px);
  transform: scale(1);
  margin-right: 0px !important;
  margin-left: -1px !important;
  margin-bottom: 0px !important;
  margin-top:2px;
}

.steamavatar_avatarHolder_1YGAH {
    height: 36px;
    width: 36px;
    display: flex;
    margin: 0px 0px;
    transform: scale(0.86, 0.86) translateX(0px);
    transition-property: transform;
    transition-duration: .34s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.19, 2.28);
    flex-direction: row;
    flex-shrink: 0;
}