.title-area-icon.maximizeButton.windowControlButton svg line {
	display:none;
}

/* .DesktopUI .title-area-icon .SVGIcon_Maximize {
    height: 15px !important;
    width: 15px !important;
} */

.SVGIcon_X_Line, .SVGIcon_Minimize, .SVGIcon_Maximize {
    height: 13px !important;
    width: 13px !important;
}