:root {
    --color-light: #303030; /* Button Colors */
    --color-dark: #212121; /* TitleBar, TitleBar Buttons, Library <div> background, Scrollbar  */
    --color-darker: #191919; /* Main Background, Library and TitleBar accent */
    --color-darkest: #141414; /* Low priority accent color */
}