:root {
    --color-light: #303030; /* BackGroundColor */
    --color-dark: #212121; /* BackGroundColor1 */
    --color-darker: #191919; /* BackGroundColor2 */
    --color-darkest: #141414; /* BackGroundColor3 */
}