:root {
    --color-light: #131313; /* BackGroundColor */
    --color-dark: #0f0f0f; /* BackGroundColor1 */
    --color-darker: #101010; /* BackGroundColor2 */
    --color-darkest: #000000; /* BackGroundColor3 */
}