.title-area-icon.maximizeButton.windowControlButton svg line {
	display:none;
}

/* .DesktopUI .title-area-icon .SVGIcon_Maximize {
    height: 15px !important;
    width: 15px !important;
} */

.SVGIcon_X_Line, .SVGIcon_Minimize, .SVGIcon_Maximize {
    height: 13px !important;
    width: 13px !important;
}

/* Hide the View menu and other stuff */
[class*="rootmenu_RootMenuButton_"]:nth-of-type(3), [class*="rootmenu_RootMenuButton_"]:nth-of-type(5), 
[class*="rootmenu_RootMenuButton_"]:nth-of-type(7), [class*="rootmenu_RootMenuButton_"]:nth-of-type(9) {
    margin-left: 7px !important;
    transition: opacity 0.3s ease-out;
    opacity: 0;
}

/*
[class*="steamdesktop_RootMenuBar_"]:hover,
[class*="steamdesktop_RootMenuBar_"]:hover > div,

[class*="rootmenu_RootMenuButton_"]:nth-of-type(2):hover, [class*="rootmenu_RootMenuButton_"]:nth-of-type(3):hover, 
[class*="rootmenu_RootMenuButton_"]:nth-of-type(4):hover, [class*="rootmenu_RootMenuButton_"]:nth-of-type(5):hover, */

/* [class*="rootmenu_RootMenuButton_"]:nth-of-type(1):hover + [class*="rootmenu_RootMenuButton_"]:nth-of-type(2),
[class*="rootmenu_RootMenuButton_"]:nth-of-type(1):hover + [class*="rootmenu_RootMenuButton_"]:nth-of-type(2) + [class*="rootmenu_RootMenuButton_"]:nth-of-type(3),
[class*="rootmenu_RootMenuButton_"]:nth-of-type(1):hover + [class*="rootmenu_RootMenuButton_"]:nth-of-type(2) + [class*="rootmenu_RootMenuButton_"]:nth-of-type(3) + [class*="rootmenu_RootMenuButton_"]:nth-of-type(4),
[class*="rootmenu_RootMenuButton_"]:nth-of-type(1):hover + [class*="rootmenu_RootMenuButton_"]:nth-of-type(2) + [class*="rootmenu_RootMenuButton_"]:nth-of-type(3) + [class*="rootmenu_RootMenuButton_"]:nth-of-type(4) + [class*="rootmenu_RootMenuButton_"]:nth-of-type(5)  {
    opacity: 1;
} */