/* this client was made by ShadowMonster#5099 */
/* please keep in mind the skinning on the steam client is part of the Fluent Steam Skin */
/* The only thing I have contributed is library skin, downloads page skin, and game properties page */

/* If you change any css make sure to use [class*=""] because the item tags change every update and you dont want to change every update */

@import url(steam/DownloadsPage.css);
@import url(steam/Properties.css);
@import url(steam/TopBar.css);
@import url(TitleBar.css);

::-webkit-scrollbar{
    background-color: transparent !important;
    border-radius: 10px !important;
    width:18px !important;
    -webkit-box-shadow: none !important;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-light) !important;
}
  
::-webkit-scrollbar-thumb {
    background: var(--color-dark) !important;
    border: 5px solid transparent !important;
    background-clip: padding-box !important;
    -webkit-box-shadow: none !important;
    border-radius: 10px !important;
}
  
::-webkit-scrollbar-track {
    background: transparent !important;
    border-radius: 10px !important;
}

.steamdesktop_InitContainer_2YwTw {
    background: var(--color-darker);
}

.DialogContent {
    background: var(--color-dark) !important;
}

.DialogButton {
    background: var(--color-light) !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] {
    background: var(--color-dark) !important;
}

[class*="launchoptionsdialog_ListContainer_"] {
    background: var(--color-darkest) !important;
}

[class*="launchoptionsdialog_ListItem_"] {
    background: var(--color-light) !important;
    border-radius: 4px;
}

[class*="launchoptionsdialog_CancelButton_"] {
    background: var(--color-light) !important;
}

img[class*="libraryassetimage_Image_"][class*="libraryassetimage_Visibility_"][class*="libraryassetimage_Visible_"] {
    border-radius: 4px;
}

/* HIDE TOP SHIT IN LIBRARY */

.bottombar_Queue_3wJnT {
    display: none !important;
}

/* 
[class*="gamelistdropdown_Bar_"], [class*="gamelistbar_GameListHomeAndSearch_"] {
    display: none !important;
} */

/* Library Seperator */

[class*="library_LibraryWindowDivider_"] {
    background: var(--color-dark) !important;
}

.gamelistdropdown_Bar_1ZS_x {
    background: var(--color-darker) !important;
}

.gamelistdropdown_MenuHeader_2PF_m {
    background: var(--color-dark) !important;
}

/* [class*="rootmenu_RootMenuButton_"] {
    display: flex;
}
[class*="rootmenu_SteamButton_"] {
    font-size: 0px;
}
[class*="rootmenu_RootMenuButton_"]:nth-of-type(1)::after {
    font-size: inherit;
    display: flex;
    align-items: center;
    content: "Millennium" !important;
} */

[class*="apppartnereventspage_CloseButton_"] svg {
    width: 100% !important;
    height: 100% !important;
    max-width: 320px !important;
    max-height: 320px !important;
}
/* Search Filter */

[class*="apppartnereventspage_CloseButton_"][class*="apppartnereventspage_AnimIn_"],
[class*="apppartnereventspage_ScrollButton_"] {
    background: var(--color-dark) !important;
}

[class*="appfilterpane_Container"] {
    background: var(--color-dark) !important;
}

[class*="gamelistsearchbar_Container"] [class*="gamelistsearchbar_AdvancedSearchContainer"] [class*="gamelistsearchbar_AdvancedSearchPaneContainer"] [class*="gamelistsearchbar_AdvancedSearchPane"]:before {
    background: var(--color-dark) !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_AdvancedSearchContainer_"] [class*="gamelistsearchbar_AdvancedSearchPaneContainer_"].gamelistsearchbar_Visible_ [class*="gamelistsearchbar_AdvancedSearchPane_"] {
    border-radius: 7px !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchInput_"] .DialogTextInputBase {
    background: var(--color-dark) !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_AdvancedSearchContainer_"] .gamelistsearchbar_AdvancedSearchButton_1TxHd { 
    background: var(--color-dark) !important;
    border-radius: 0px 4px 4px 0px !important;
}

[class*="library_AppDetailsMain_"] {
    background: var(--color-darker) !important;
}

[class*="smartscrollcontainer_Body_"][class*="collectionview_ContainerScroll_"] {
  background: var(--color-darker) !important;  
}

[class*="partnereventdisplay_LibraryEventTitleContainer_"] {
    background: var(--color-dark) !important;
}

[class*="gamelist_Container"] {
    background: var(--color-darker) !important;
}

[class*="gamelistsearchbar_Container"] {
    background: var(--color-darker) !important;
}

[class*="appportrait_LibraryItemBox"] {
    border-radius: 4px;
}

[class*="gamelistsectionheader_Container_"] {
    border: none !important;
    background: var(--color-darker) !important;
}

[class*="gamelistbar_Container_"] {
    background-image: none !important;
    background: var(--color-darkest);
}

[class*="gamelistbar_GameListHomeAndSearch_"] {
    background-color: var(--color-darkest) !important;
    box-shadow: none !important;
    border-bottom: 2px solid var(--color-darker) !important;
    display: none !important;
}

[class*="gamelisthome_Bar_"][class*="gamelisthome_Selected_"],
[class*="gamelisthome_Bar_"][class*="gamelisthome_CollectionButton_"] {
    background-color: rgba(33,33,36,.6) !important;
}

[class*="gamelisthome_CollectionIcon_"] 
[class*="gamelisthome_CollectionIconBox_"] {
    background: #292929 !important;
}

[class*="gamelistsearchbar_Container_"] 
[class*="gamelistsearchbar_AdvancedSearchContainer_"] {
    border-radius: 0px 4px 4px 0px;
}

/* Home Button Style */
[class*="gamelisthome_Bar_"] {
    background-color: rgba(33,33,36,.6) !important;
}

[class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"], 
[class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"] {
    background-color: #313131 !important;
}

[class*="libraryhome_UpdatesContainer_"] {
    background: radial-gradient(100% 100% at 33% 45%, var(--color-dark) 30%, var(--color-darkest) 100%) !important;
}

[class*="library_LibraryWindowDivider_"] {
    background: none !important;
}

[class*="appdetailsworkshopsection_WorkshopContainer_"] {
    background: none !important;
}

[class*="libraryhome_LibraryHome_"] {
    background: var(--color-darker) !important;
}

/* APP GLOSS BACKGROUND */
/* [class*="appdetailsoverview_Container_"] {
    background: var(--color-darker) !important;
} */

[class*="appdetailsspotlight_ReviewContainer_"] {
    background: var(--color-dark) !important;
}

[class*="appdetailsplaysection_MenuButton_"] {
    background: #2121219c !important;
}

[class*="appdetailsprimarylinkssection_LinksSection_"]>div {
    background: var(--color-dark) !important;
}

[class*="posttextentry_PostTextEntry_"] [class*="posttextentry_PostTextEntryArea_"] {
    background: var(--color-dark) !important; 
}

[class*="appactivityday_PartnerEventMediumImage_Container_"] {
    background: var(--color-dark) !important;
}

[class*="appactivityday_PartnerEventUpdate_"] { 
    border: none !important;
}

[class*="appactivityday_ActivityAchievementUnlocked_"] {
    background: var(--color-dark) !important;
}

[class*="appactivityday_TradingCardSection_"] {
    background: var(--color-dark) !important;
}

/* Right side panel on game */
[class*="appdetailssection_AppDetailsSectionContainer_"][class*="appdetailssection_RightColumnSection_"] {
    background: var(--color-dark) !important;
}

[class*="appdetailssection_Highlight_"] {
    background: var(--color-light) !important;
}

[class*="appdetailscommunityfeed_AuthorSection_"] {
    background: var(--color-dark) !important;
}

[class*="appdetailscommunityfeed_CommunityItem_"] {
    background: var(--color-dark) !important;
}

[class*="appdetailscommunityfeed_Guide_"] [class*="appdetailscommunityfeed_TopSectionInner_"] {
    background: var(--color-light) !important;
    padding: 8px;
}

.appdetailscommunityfeed_Guide_-85o5 .appdetailscommunityfeed_Preview_AxZMH {
    border-radius: 4px !important;
}

.smartscrollcontainer_ScrollToTopButton_1bCHN div {
    background: #505050;
    color: #fff;
}

.appdetailscommunityfeed_HeaderStyles_2lNdD {
    background: var(--color-dark) !important;
    color: #fff !important;
}

.appactionbutton_Green_3cI5T>.appactionbutton_ButtonChild_2AzIX.appactionbutton_StreamingSelector_2q-gZ {
    background: linear-gradient(to right, #235ecf 0%, #235ecf 60%) !important;
}

.appactionbutton_Green_3cI5T>.appactionbutton_ButtonChild_2AzIX {
    background: linear-gradient(to right, #47bfff 0%, #235ecf 60%) !important;
}

.appactionbutton_Green_3cI5T>.appactionbutton_ButtonChild_2AzIX svg {
    fill: #fff !important;
}

:not(.appactionbutton_Disabled_1Pb6P)>.appactionbutton_ButtonChild_2AzIX svg line, :not(.appactionbutton_Disabled_1Pb6P)>.appactionbutton_ButtonChild_2AzIX svg polygon {
    fill: #fff !important;
    stroke: #fff !important;
}

.LibraryDisplaySizeSmall .appportrait_LibraryItemBoxSubscript_1LJqx {
    background: var(--color-dark) !important;
}

.appdetails_Glassy_3Fmxx.appdetails_ScrollContainer_2l416 {
    background: var(--color-darker) !important;
}

.libraryhome_InnerContainer_2AUVZ {
    background: var(--color-darker) !important;
}

.appactivityday_PartnerEventMediumImage_Container_1HZy7 {
    border-radius: 4px !important;
}

.appactivityday_PartnerEvent_1AYE1 {
    border: none !important;
}


/* Popup Modal */
.ModalPosition_Content>div:not(.ModalPosition_TopBar):not(.ModalPosition_Dismiss)
{
    background: var(--color-dark) !important;
}

.partnereventdisplay_LibraryEventBodyContainer_2ZgLv {
    background: var(--color-dark) !important;
}

.partnereventdisplay_LibraryEventBodyContainer_2ZgLv {
    background: var(--color-dark) !important;
}

.appdetailsachievementssection_Remainder_2gISW .appdetailsachievementssection_RemainderText_1-H7t {
    background: var(--color-light) !important;
}

.appactivityday_PartnerEventTextOnly_Container_1wJJQ {
    background: var(--color-dark) !important;
}

.allcollections_ScrollContainer_u1xD3 {
    background: none !important;
}

.allcollections_Collection_3IWn- {
    background: var(--grey-ish) !important;
}
/* BETA FEATURES */

[class*="steamdesktop_TopBar"] {
    background: var(--color-darker) !important;
}

[class*="steamdesktop_LocalContentContainer"] [class*="steamdesktop_URLBarReplacement"] {
    min-height: 1px !important;
    height: 1px !important;
    background: none !important;
}
/* Context Menus */
[class*="menu_MenuPopup"] {
    background: var(--color-darker) !important;
}

/* Friends List */
[class*="friendListHeaderContainer"] [class*="titleBarContainer"] {
    background: var(--color-darker) !important;
}

.friendlistListContainer {
    background: var(--color-dark) !important;
}

[class*="activeTab"] {
    background: var(--color-light) !important;
}

.steamdesktop_SuperNavBar_3Z3oh {
    -webkit-app-region: no-drag !important;
}


.titlebarcontrols_GamepadUIToggle_3LKQ3 {
    display: none !important;
}

.steamdesktop_TopBar_3Z7VQ {
    box-shadow: none !important;
}



.titlebarcontrols_AccountMenu_3yD46 {
    background: var(--color-dark) !important;
}

.titlebarcontrols_NotificationsButton_RtSv3, .titlebarcontrols_AnnouncementsButton_5wILZ {
    background: var(--color-dark) !important;

}

.supernav_SuperNavMenu_7AlhC {
    font-size: 13px !important;
    height: auto !important;
}


.supernav_Arrow_25lBL {
    padding: 0px 10px 0px 0px !important;
}

.supernav_Arrow_25lBL:first-child {
    padding-left: 12px !important;
}

.DesktopUI .title-area-icon:hover, .friendsui-container .title-area-icon:hover {
    background: var(--color-light) !important;
}

.menu_MenuItem_2jXHP.menu_Item_2uiDe:hover {
    background-color: var(--grey-ish) !important;
    color: #fff !important;
}

.titlebarcontrols_AnnouncementsButton_5wILZ:hover {
    background: var(--color-light) !important;
}

.titlebarcontrols_NotificationsButton_RtSv3.titlebarcontrols_WasNew_9YK5I:not(.titlebarcontrols_Disabled_1QQWj):hover, .titlebarcontrols_NotificationsButton_RtSv3.titlebarcontrols_NoNew_3qhGk:not(.titlebarcontrols_Disabled_1QQWj):hover {
    background: var(--color-light) !important;
}

.bottombar_FriendsButton_1TdaA:hover:not(.bottombar_Disabled_2Sdix) .bottombar_Icon_1KrJ3 {
    color: none !important;
}

/* URL BAR */

.steamdesktop_BrowserWrapper_1bGew .steamdesktop_URLBar_UkR3s {
    background: var(--darkergrey) !important;
    box-shadow: none;
    border-bottom: 0.5px solid #202020;
}

/*  Back Arrows  */

.supernav_Arrow_25lBL.supernav_Disabled_2cO0H {
    color: var(--color-light) !important;
}




/* .appdetailsplaysection_InnerContainer_3Y87Y {
    background: var(--color-darker) !important;
}

div.NarrowRightPanel .appdetailsprimarylinkssection_LinksSection_3-V8v {
    background: var(--color-darker) !important;
}

.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_ColumnContainer_OhSdL {
    background: var(--color-darker) !important;
}

.appdetailsoverview_Glassy_2OOzY>div {
    background: var(--color-darker) !important;
} */

.gamepaddialog_Field_S-_La.gamepaddialog_WithBottomSeparatorStandard_3s1Rk::after {
    background: var(--lightergrey) !important;
}

.pagedsettings_PageListSeparator_1UEEm {
    background: var(--lightergrey) !important;
}

.radio_Group_2qYC3 {
    background: #252525 !important;
}
.radio_Button_3lwcR {
    background: none !important;
}

.radio_Button_3lwcR.radio_Active_3ZBFo, .radio_Button_3lwcR.radio_Active_3ZBFo:hover {
    background: #1f8dff !important;
}

.steamdesktop_BrowserWrapper_1bGew .steamdesktop_URLBar_UkR3s .steamdesktop_URLBarText_2m_or:hover {
    background: var(--color-dark) !important;
}

.console_Console_1fuML, .console_Console_1fuML pre {
    background: var(--color-dark) !important;
}

.insetshadow_FriendsListInsetShadowCtn_17ewz {
    display: none !important;
}

.friendListHeaderContainer {
    background: var(--color-dark) !important;
}

.statusHeaderGlow {
    display: none !important;
}

.steamavatar_avatarHolder_1YGAH .steamavatar_avatarFrame_3atbN {
    display: none !important;
}

.ChatTabContent .avatarHolder .avatarStatus, .friend.quickAccessFriend .avatarHolder .avatarStatus {
    display: none !important;
}

.friend.quickAccessFriend .avatarHolder .avatar {
    border: 1px solid #383c43 !important;
    border-radius: 6px !important;
}

.steamavatar_avatar_1p_Qr {
    border-radius: 6px !important;
}

.friendsListSectionTitle {
    background: var(--color-light) !important;
}

.friendListFooter {
    display: none !important;
}

.friendsListSectionTitle {
    display: none !important;
}

.FriendsListContent .friendlistListContainer .friendGroup.onlineFriends {
    border-top: .5px solid rgba(143,143,143,.25);
}

.contextmenu_contextMenuContents_2y2tU.contextmenu_ForceDesktop_7K1n9 {
    background: var(--color-dark) !important;
    border: 1px solid var(--lightergrey) !important;
    padding: 0 !important;
}

.titlebarcontrols_NotificationsButton_RtSv3.titlebarcontrols_HasNew_3L1c8 {
	color: #8b929a !important;
}

.titlebarcontrols_Button_2Szzh.titlebarcontrols_AnnouncementsButton_5wILZ.titlebarcontrols_Active_1oEwi {
	color: #8b929a !important;
}

.singleWindowFocusBar.chatSingleWindowFocusBar {
    display: none !important;
}

.contextmenu_contextMenu_LQkrb {
    background: var(--color-dark) !important;
}

.contextMenuItem:not(.library_ContextMenuAction_Z5iAX):hover {
    background: var(--color-dark) !important;
    color: #fff !important;
}

.gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z:hover, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA.gamelistentry_Container_2-O4Z :hover, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z:hover, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy, .gamelistentry_Selected_1UBpA .gamelistentry_Container_2-O4Z :hover {
    background: var(--color-dark) !important;
}

.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_BackdropGlass_Jbe-- {
    background: none !important;
}

.appactivityday_GameCarouselWrapper_3jFOA {
    background: var(--color-dark) !important;
}

.appactivityday_Event_UVeN0 .appactivityday_EventBody_NEMXh {
    border-radius: 4px !important;
}

.window_resize_grip {
    height: 0px !important;
    width: 0px !important;
}

.mllnm-addon-list .mllnm-addon-header {
    background: #252525 !important;
}

.millennium-icons,
.mllnm-addon-list .mllnm-addon-card,
button.mllnm-button,
button.mllnm-button.mllnm-button-title,
.mllnm-search-wrapper {
    background: var(--color-light) !important;
}

.steamdesktop_URLBarReplacement_2Cmrn {
    box-shadow: none !important;
}

.library_AppDetailsMain_2Nq6o {
    border-top: none !important;
}

.bottombar_FriendsButton_1TdaA .bottombar_Icon_1KrJ3,
.bottombar_AddGameButton_2foCk .bottombar_Icon_1KrJ3 {
    margin-right: -7px;
}

[class*="gamelistbar_Container_"] {
    background: var(--color-darker) !important;
}

.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_BackdropGlass_Jbe-- {
    background: linear-gradient(to top, var(--blacker-ish) 0%, var(--blacker-ish) 75%, #1b1b1b3d 100%) !important;
    backdrop-filter: blur(10px) !important;
}
.appdetailsplaysection_PlayBar_3fLo1.appdetailsplaysection_Glassy_3DeO9 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgb(31 31 31 / 0%) calc(100%), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 100%) !important;
}
.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_ColumnContainer_OhSdL {
    background: var(--blacker-ish) !important; 
}

.library_MainPanel_3BFcm.MediumRightPanel {
    border-top-left-radius: 10px !important;
}

.library_AppDetailsTransitionGroup_2Dd4T {
    border-top-left-radius: 10px !important;
}

.steamdesktop_ContentFrame_1rDh5 {
    background: var(--color-darker);
}

.contextmenu_contextMenu_LQkrb {
    background: #252525 !important;
}

[class*="menu_MenuPopup"] {
    background: #252525 !important;
}


.contextmenu_contextMenuContents_2y2tU.menu_MenuPopup_3pofG.supernav_MenuPopup_Eq8Px {
    border-radius: 6px;
}

.contextmenu_contextMenu_LQkrb.visible.contextmenu_ContextMenuFocusContainer_2qyBZ {
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #313131;
    box-sizing: border-box;
}

body.ContextMenuPopupBody.DesktopUI {
    background: transparent !important;
}

.libraryhomeshowcases_CollectionDropDown_1YdRd .DialogInputLabelGroup ._DialogInputContainer{
    background: transparent !important;
}