:root {
	--skin-active-primary: #59cc6c;
	--skin-active-secondary: #59cc6c34;

	--skin-disabled-primary: #1a9fff;
	--skin-disabled-secondary: #1aa0ff2a;
}
.emptyImage-2pCD2j {
	width: 250px;
    height: 115px;
    background-image: url(https://cdn.discordapp.com/attachments/923017628367335428/1123654019966054480/3c32e44f20ad22e786aed0252582983c.svg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 8px;
}
.mllnm-addon-controls {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
	margin-bottom: 15px;
    display: flex;
}
.mllnm-search-wrapper {
	background: #2a2d34;
    padding: 3px;
    border-radius: 3px;
    outline: 0;
    border: 0;
    display: flex;
    align-items: center;
}
.mllnm-addon-controls .mllnm-search {
    font-size: 13px;
    margin: 0;
    width: 200px;
}
.mllnm-search {
    padding: 2px 3px;
    background: 0 0;
    border: 0;
    flex: 1;
	font-family: inherit;
	color: #fff;
	font-style: normal;
}
.mllnm-search-wrapper>svg {
    margin-right: 2px;
}
.outer-padding {
	border-radius: 6px;
	border: 1px solid #5f5f5fa9;
	padding: 15px;
}
h2.mllnm-settings-title {
    margin: 0px 0px 20px 0px;
    align-items: center;
    display: flex;
}
button.mllnm-button.mllnm-button-title {
    border-radius: 3px;
    border: none;
    color: #fff;
    background: #2a2d34;
    margin-left: 10px;
    height: 29px;
}
button.mllnm-button {
    border-radius: 3px;
    border: none;
    color: #fff;
    background: #2a2d34;
}
.mllnm-empty-image-container {
    background: 0 0;

}
.standardSidebarView-E9Pc3j, .standardSidebarView-E9Pc3j * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.emptyContainer-poti7J {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--background-secondary);
    padding: 80px 0;
    max-width: 720px;
    border-radius: var(--radius-sm);
}
.mllnm-empty-image-container.emptyContainer-poti7J {
    font-size: 13px;
}
input.mllnm-search:focus {
    outline: none;
}
button.mllnm-button{
	transition: background 0.3s ease;
}
button.mllnm-button:hover {
    background: #404040;
}
button.mllnm-button:focus {
    outline: none;
}
.mllnm-addon-list .mllnm-addon-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    background: #2a2d34;
}
.mllnm-addon-list .mllnm-addon-header {
    color: #fff;
    background: #171d25a3;
    padding: 16px;
	font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.mllnm-description-wrap {
    flex: 1;
    padding: 8px 16px 0 16px;
}
.mllnm-addon-list .mllnm-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px 16px 16px;
    overflow: hidden;
}
.mllnm-title {
    display: flex;
	margin-left: 5px;
}
.mllnm-meta {
	margin-left: 5px;
	color: #666;
	font-size: 12px;
}
.mllnm-links {
    display: flex;
    align-items: center;
}
.mllnm-addon-list .mllnm-footer .mllnm-link {
    color: var(--interactive-normal);
}
.mllnm-link {
    text-decoration: none;
}
.mllnm-description {
    font-size: 13px;
}
.mllnm-addon-list .mllnm-footer .mllnm-links, 
.mllnm-addon-list .mllnm-footer .mllnm-links a, 
.mllnm-addon-list .mllnm-footer .mllnm-addon-button {
    display: flex;
    align-items: center;
}
.mllnm-controls>.mllnm-addon-button:first-of-type {
    border-radius: 3px;
}
.mllnm-button.mllnm-button-danger {
    background-color: #f04747;
}
a.mllnm-link.mllnm-link-website {
    background: none !important;
}
span.mllnm-version {
    margin-right: 5px;
}
.mllnm-addon-controls .mllnm-search::placeholder {
	font-style: normal !important;
}
.millennium-icons {
    margin-left: 5px;
    border-radius: 35px;
    height: 29px;
    width: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a2d34 !important;
    transition: background 0.3s ease;
}
.millennium-icons:hover {
    cursor: pointer;
    background: #404040;
}
div#themes-tab {
    margin-top: 10px;
}
.skin-enabled {
    border: 2px solid var(--skin-active-secondary) !important;
}
.skin-is-active {
    border-radius: 4px;
    background: var(--skin-active-primary) !important;
    color: #fff;
    padding: 5px;
    font-weight: initial;
    display: block !important;
    opacity: 1 !important;
}
.skin-disabled {
    transition: opacity 0.3s ease, background 0.3s ease;
    cursor: pointer;
    opacity: 0;
}
.mllnm-addon-card {
    transition: border 0.3s ease;
    border: 2px solid transparent;
}
.skin-disabled:hover {
    background: var(--skin-disabled-primary);
}
.skin-is-active::before {
	content: "Active" !important;
}
.mllnm-switch:hover .skin-is-active::before {
	content: "Disable" !important;
}
.mllnm-switch:hover .skin-is-active {
    background: #f04747 !important;
}
.skin-disabled {
    border-radius: 4px;
    background: var(--skin-disabled-secondary);
    color: #fff;
    padding: 5px;
    font-weight: initial;
}
.mllnm-addon-card:hover .skin-disabled {
    opacity: 1;
}
.mllnm-addon-card .skin-disabled::before {
	content: "Activate";
}