name: Build Millennium

on:
  workflow_dispatch:

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true  # allow fortnite wallhacks 
      

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Install MSVC
      uses: microsoft/setup-msbuild@v1.0.0

    - name: Restore NuGet packages
      run: nuget restore

    - name: Build project
      run: |
        msbuild millennium.sln /p:Configuration=Release /p:Platform=x86

    - name: Set MSBuild path
      run: |
        echo "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin" >> $GITHUB_PATH 
      shell: cmd
