name: Publish to AUR

on:
  workflow_run:
    workflows: ["Build Millennium"]
    types:
      - completed
  workflow_dispatch:

jobs:
  aur-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update Package Version
        run: |
            sed -i "s/pkgver=.*/pkgver=$(sed -n '2p' ./version | tr -d '\n')/" ./pkgbuild/PKGBUILD

      - name: Publish AUR package
        uses: KSXGitHub/github-actions-deploy-aur@master
        with:
          pkgname: millennium
          pkgbuild: ./pkgbuild/PKGBUILD
          assets: ./pkgbuild/millennium.install
          commit_username: GitHub Actions
          commit_email: github-actions@github.com
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Update AUR package
          ssh_keyscan_types: rsa,ecdsa,ed25519
